*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-nav
a {
    text-decoration: none;
}
ul li {
    list-style: none;
}
body {
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
}
.container {
    max-width: 1140px;
    margin: auto;
    padding: 0 15px;
}
.header-nav {
    background: #322E41;
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 65px;
}
nav ul {
    display: flex;
}
nav ul a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    padding: 13px 14px;
    transition: all 200ms;
    display: flex;
}
nav ul a:hover {
    background: #FFFFFF;
    color: #D47300;
}
header {
    height: 565px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-content {
    background: url(../img/header-bg.jpg) no-repeat center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    align-self: stretch;
}
.header-title {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;
}
.header-desc, span {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
}
.header-desc span {
    font-weight: 700;
}
.section-news {
    
    border-radius: 6px;
    max-width: 540px;
    background: #FFFFFF;
    padding: 15px;
}
.section-news img {
    width: 100%;
    height: 263px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.section-news h2 {
    font-size: 22px;
    color: #2C2A2A;
    margin-bottom: 10px;
    font-weight: 700;
}
.section-news p {
    color: #9B9B9B;
    font-weight: 400;
    font-size: 19px;
}
.section-item {
    background: #FFFFFF;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    max-width: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -32px;
    margin-bottom: 30px;
}
.section-items {
    max-width: 540px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.section-item h3 {
    font-size: 22px;
    color: #2C2A2A;
    font-weight: 700;
    margin: 12px 0;
    line-height: 19px;
}
.section-items p {
    color: #9B9B9B;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}
.footer {
    background-color: #322E41;
    padding-top: 36px;
    padding-bottom: 58px;
}
.footer-content form {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
}
input, textarea, button {
    border: none;
    outline: none;
    background-color: #FFFFFF;
    padding: 8px;
    border-radius: 6px;
    font-family: 'Roboto';
    font-weight: 400;
}
input::placeholder, textarea::placeholder {
    color: #9B9B9B;
    font-size: 18px;
}
textarea {
    height: 86px;
    resize: none;
}
button {
    background-color: #544294;
    font-size: 16px;
    color: #FFFFFF;
    padding: 4px 0;
}
form >:not(:last-child) {
    margin-bottom: 10px;
}
.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.footer-list {
    max-width: 237px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-list li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    transition: all 300ms;
}
.footer-list li a:hover {
    color: #D47300;
}
.footer-list ul >:not(:last-child) {
    margin-bottom: 10px;
}
.section-item img {

    max-width: 50px;
    max-height: 50px;
}
.header-pre-content{
    min-width: 500px;
    max-height: 200px;
    background: rgba(9, 10, 10, 0.425);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 15;
}
.section-news img{
   
    max-width: 200px;
    max-height: 100px;

}
.container a img{
    max-width: 50px;
    max-height: 50px;
}
.footer__link{
    text-decoration: none;
    font-size: 12px;
    color: #ffffff;
    font-weight: 200;
    margin-top:  29px;
    line-height: 19px;
    display: flex;
}
